 
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a style="color:DarkSlateGray">Connor.Donegan@UTSouthwestern.edu</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
