---
---

@import "minima";

img[src*="#thumbnail"] {
   width:187.5px;
   height:125px;
}

.post-title { font-size: 25px; font-weight: 340; letter-spacing: -1px; line-height: 2; }

.site-title { font-size: 25px; font-weight: 365; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }
